@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');


#sidebar{
  width: 60vw;
  background-image: radial-gradient(circle, #021127, #17223a, #2d344f, #434664, #5a597a);
  display: none;
  height: 100vh;
  position: absolute;
  right: 0;
}

#options{
  text-align: left;
  padding-top: 4em;
}

li{
  padding-top: 2em;
  padding-bottom: 2em;
}
body{
  background-image: url(components/assets/home/background-home-mobile.jpg);
  color: #D0D6F9;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bellefair', serif;
  
}

.toLeft{
  float: left;
  height: 30px;
  width: 30px;
}

.toRight{
  float: right;
  height: 30px;
  width: 30px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  
  height: 80vh;

}

.circle{
  background-color: white;
  color: #0B0D17;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  font-size: 1.5em;
}

.content h1{
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
}
